<div class="starter-template">
	<div *ngIf="authservice.isLoggedIn()" class="userinfo">
		<h2>Overzicht van {{currentUser?.name}}</h2>

		<ul class="list-group list-group-flush">
			<li class="list-group-item">ID: {{currentUser?._id}}</li>
			<li class="list-group-item">Naam: {{currentUser?.name}}</li>
			<li class="list-group-item">Geboorte datum: {{currentUser?.dateOfBirth}}</li>
			<li class="list-group-item">Email: {{currentUser?.email}}</li>
			<li class="list-group-item">Activiteits-status: {{currentUser?.isActive}}</li>
		</ul>

		<h2>Vrienden</h2>
		<table class="table">
			<thead>
				<th>Id</th>
				<th>Naam</th>
			</thead>
			<tbody>
				<tr *ngFor="let user of friends">
					<td><a routerLink="/user/{{user._id}}">{{user.email}}</a></td>
					<td>{{user.name}}</td>
				</tr>
			</tbody>
		</table>

		<app-cart></app-cart>
	</div>
	<h3>Info</h3>
	<p>
		This app is running in <strong>'{{ runningMode }}'</strong> mode. <br />
		Environment API URL: <strong>'{{ apiUrl }}'</strong>.<br />
		Version: <strong>{{ version }}</strong>

	</p>
</div>
