<h2>{{currentSupermarket?.name}}</h2>
<div class="row">
	<div class="supermarket-card card col-md-3" *ngFor="let category of currentSupermarket?.categories">
		<img src="{{category!.image}}" class="card-img-top">
		<div class="card-body">
		  <h5 class="card-title">{{category!.name}}</h5>
		  <a routerLink="categories/{{category!._id}}" class="btn btn-primary col-md-12">Bekijk de producten van {{category!.name}}</a>
		  <button *ngIf="userService.currentUser?.role == 1" class="btn btn-danger col-md-12" (click)="delete(category._id)">Verwijder</button>
		</div>
	</div>

</div>
<a *ngIf="userService.currentUser?.role == 1" class="btn btn-primary" routerLink="categories/create" >Voeg nieuwe categorieën toe</a>
<a *ngIf="userService.currentUser?.role == 1" class="btn btn-primary" routerLink="edit">Bewerk {{currentSupermarket?.name}}</a>
