<h2>Voeg een supermarkt toe</h2>
<form class="form" (ngSubmit)="onSubmit()" [formGroup]="addSupermarketForm">
	<div class="form-group">
		<label for="Name">Name</label>
		<input class="form-control" formControlName="name" placeholder="Vul hier de naam van de supermarkt in"
			aria-describedby="helpId">
		<small id="helpId" class="text-muted">Een naam moet uniek zijn</small>

		<div *ngIf="addSupermarketForm.controls['name'].invalid && (addSupermarketForm.controls['name'].dirty || addSupermarketForm.controls['name'].touched)"
			class="alert alert-danger">
			<div *ngIf="addSupermarketForm.controls['name'].errors?.required">
				Email is verplicht!
			</div>
			<div *ngIf="addSupermarketForm.controls['name'].errors?.email">
				Het email is niet in het juiste formaat
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="image">Afbeelding</label>
		<input class="form-control" formControlName="image" aria-describedby="helpId">
		<small id="helpId" class="text-muted">Vul de URL van een foto in</small>

		<div *ngIf="addSupermarketForm.controls['image'].invalid && (addSupermarketForm.controls['image'].dirty || addSupermarketForm.controls['image'].touched)"
			class="alert alert-danger">
			<div *ngIf="addSupermarketForm.controls['image'].errors?.required">
				Een foto url is verplicht!
			</div>
		</div>
	</div>
	<button type="submit" [disabled]="addSupermarketForm.pristine || addSupermarketForm.invalid"
		class="btn btn-success">
		Save
	</button>
</form>
