<h2>Persoons informatie van {{currentUser?.name}}</h2>
<ul class="list-group list-group-flush">
	<li class="list-group-item">ID: {{currentUser?._id}}</li>
	<li class="list-group-item">Naam: {{currentUser?.name}}</li>
	<li class="list-group-item">Geboorte datum: {{currentUser?.dateOfBirth}}</li>
	<li class="list-group-item">Email: {{currentUser?.email}}</li>
	<li class="list-group-item">Activiteits-status: {{currentUser?.isActive}}</li>
</ul>

<h2>Bewerk {{currentUser?.name}}</h2>
<a class="btn btn-primary" routerLink="edit">Bewerk {{currentUser?.name}}</a>
