<table class="table">
	<thead>
		<th>Id</th>
		<th>Naam</th>
		<th *ngIf="loggedInUser?.role == 1">Delete</th>
	</thead>
	<tbody>
		<tr *ngFor="let user of users">
			<td><a [routerLink]="[user._id]" routerLinkActive="router-link-active">{{user.email}}</a></td>
			<td>{{user.name}}</td>
			<button *ngIf="loggedInUser?.role == 1" class="btn btn-danger" (click)="delete(user._id)">Verwijder gebruiker</button>
			<button class="btn btn-primary" (click)="addFriend(user._id)">Voeg gebruiker toe als vriend</button>
		</tr>
	</tbody>
</table>
