<h2>Voeg een product toe</h2>
<form class="form" (ngSubmit)="onSubmit()" [formGroup]="addProductForm">
	<div class="form-group">
		<label for="Name">Name</label>
		<input class="form-control" formControlName="name" placeholder="Vul hier de naam van de categorie in"
			aria-describedby="helpId">
		<small id="helpId" class="text-muted">Een naam moet uniek zijn</small>
		<div *ngIf="addProductForm.controls['name'].invalid && (addProductForm.controls['name'].dirty || addProductForm.controls['name'].touched)"
			class="alert alert-danger">
			<div *ngIf="addProductForm.controls['name'].errors?.required">
				Een naam is verplicht!
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="image">Afbeelding</label>
		<input class="form-control" formControlName="image" aria-describedby="helpId">
		<small id="helpId" class="text-muted">Vul de URL van een foto in</small>
		<div *ngIf="addProductForm.controls['image'].invalid && (addProductForm.controls['image'].dirty || addProductForm.controls['image'].touched)"
			class="alert alert-danger">
			<div *ngIf="addProductForm.controls['image'].errors?.required">
				Een foto url is verplicht!
			</div>
		</div>
	</div>
	<h2>Voedingswaarden per 100g</h2>
	<div class="row">
		<div class="form-group col-md-4">
			<label for="Name">Calorieën</label>
			<input class="form-control" formControlName="calories" placeholder="Hoeveelheid in kcal"
				aria-describedby="helpId">
			<div *ngIf="addProductForm.controls['calories'].invalid && (addProductForm.controls['calories'].dirty || addProductForm.controls['calories'].touched)"
				class="alert alert-danger">
				<div *ngIf="addProductForm.controls['calories'].errors?.required">
					Ieder product heeft Calorieën, zo niet vul 0 in!
				</div>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="Name">Eiwitten</label>
			<input class="form-control" formControlName="protein" placeholder="Hoeveelheid in gram"
				aria-describedby="helpId">
			<div *ngIf="addProductForm.controls['protein'].invalid && (addProductForm.controls['protein'].dirty || addProductForm.controls['protein'].touched)"
				class="alert alert-danger">
				<div *ngIf="addProductForm.controls['protein'].errors?.required">
					Ieder product heeft Eiwitten, zo niet vul 0 in!
				</div>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="Name">Vezels</label>
			<input class="form-control" formControlName="fibers" placeholder="Hoeveelheid in gram"
				aria-describedby="helpId">
			<div *ngIf="addProductForm.controls['fibers'].invalid && (addProductForm.controls['fibers'].dirty || addProductForm.controls['fibers'].touched)"
				class="alert alert-danger">
				<div *ngIf="addProductForm.controls['fibers'].errors?.required">
					Ieder product heeft Vezels, zo niet vul 0 in!
				</div>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="Name">Vetten</label>
			<input class="form-control" formControlName="fats" placeholder="Hoeveelheid in gram"
				aria-describedby="helpId">
			<div *ngIf="addProductForm.controls['fats'].invalid && (addProductForm.controls['fats'].dirty || addProductForm.controls['fats'].touched)"
				class="alert alert-danger">
				<div *ngIf="addProductForm.controls['fats'].errors?.required">
					Ieder product heeft Vetten, zo niet vul 0 in!
				</div>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="Name">Koolhydraten</label>
			<input class="form-control" formControlName="carbohydrates" placeholder="Hoeveelheid in gram"
				aria-describedby="helpId">
			<div *ngIf="addProductForm.controls['carbohydrates'].invalid && (addProductForm.controls['carbohydrates'].dirty || addProductForm.controls['carbohydrates'].touched)"
				class="alert alert-danger">
				<div *ngIf="addProductForm.controls['carbohydrates'].errors?.required">
					Ieder product heeft Koolhydraten, zo niet vul 0 in!
				</div>
			</div>
		</div>

	</div>

	<button type="submit" [disabled]="addProductForm.pristine || addProductForm.invalid" class="btn btn-success">
		Save
	</button>
</form>
