<h2>Voeg een categorie toe</h2>
<form class="form" (ngSubmit)="onSubmit()" [formGroup]="addCategoryForm">
	<div class="form-group">
		<label for="Name">Name</label>
		<input class="form-control" formControlName="name" placeholder="Vul hier de naam van de categorie in"
			aria-describedby="helpId">
		<small id="helpId" class="text-muted">Een naam moet uniek zijn</small>


		<div *ngIf="addCategoryForm.controls['name'].invalid && (addCategoryForm.controls['name'].dirty || addCategoryForm.controls['name'].touched)"
			class="alert alert-danger">
			<div *ngIf="addCategoryForm.controls['name'].errors?.required">
				Naam is verplicht!
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="image">Afbeelding</label>
		<input class="form-control" formControlName="image" aria-describedby="helpId">
		<small id="helpId" class="text-muted">Vul de URL van een foto in</small>

		<div *ngIf="addCategoryForm.controls['image'].invalid && (addCategoryForm.controls['image'].dirty || addCategoryForm.controls['image'].touched)"
			class="alert alert-danger">
			<div *ngIf="addCategoryForm.controls['image'].errors?.required">
				Een foto url is verplicht!
			</div>
		</div>
	</div>
	<button type="submit" [disabled]="addCategoryForm.pristine || addCategoryForm.invalid" class="btn btn-success">
		Save
	</button>
</form>
