<form class="form" (ngSubmit)="onSubmit()" [formGroup]="editSupermarketForm">
	<div class="form-group">
		<label for="Name">Naam</label>
		<input class="form-control" formControlName="name"
			aria-describedby="helpId">
		<small id="helpId" class="text-muted">Een naam moet uniek zijn</small>

		<div *ngIf="editSupermarketForm.controls['name'].invalid && (editSupermarketForm.controls['name'].dirty || editSupermarketForm.controls['name'].touched)"
			class="alert alert-danger">
			<div *ngIf="editSupermarketForm.controls['name'].errors?.required">
				Email is verplicht!
			</div>
			<div *ngIf="editSupermarketForm.controls['name'].errors?.email">
				Het email is niet in het juiste formaat
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="image">Afbeelding</label>
		<input class="form-control" formControlName="image" 
			aria-describedby="helpId">
		<small id="helpId" class="text-muted">Vul de URL van een foto in</small>

		<div *ngIf="editSupermarketForm.controls['image'].invalid && (editSupermarketForm.controls['image'].dirty || editSupermarketForm.controls['image'].touched)"
			class="alert alert-danger">
			<div *ngIf="editSupermarketForm.controls['image'].errors?.required">
				Een foto url is verplicht!
			</div>
		</div>
	</div>
	<button type="submit" [disabled]="editSupermarketForm.pristine || editSupermarketForm.invalid"
		class="btn btn-success">
		Save
	</button>
</form>
