<div class="row">
	<div class="col-sm-6 col-md-8 col-lg-10">
		<h1 id="aboutTitle">Over deze applicatie</h1>
		<p>
			Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
			Breda.
		</p>
		<h3>Avans Fit-App</h3>
		<p>
			Dit is een applicatie die de voedingswaarden van verschillende producten van een supermarkt (bijv ah, jumbo)
			weergeeft.
			Het voornaamste doel van deze applicatie is dat de verhouding tussen verschillende variabelen wordt
			weergegeven.
			Bijvoorbeeld calorieën en eiwitten, of eiwitten en euro's.
		</p>
	</div>
	<div class="col-sm-6 col-md-4 col-lg-2">
		<div class="card">
			<div class="d-flex justify-content-center align-items-center">
				<img src="assets/images/person.png" class="card-img-top rounded-circle border profile-pic" alt="..." />
			</div>
			<div class="card-body">
				<h5 class="card-title">Maurice de Ridder</h5>
				<p class="card-text">Studentnummer: 2168234</p>
			</div>
		</div>
	</div>
</div>

<h3>Entiteiten</h3>
<p>
	De applicatie heeft als entiteiten een supermarkt, deze supermarkt kan meerdere categorieën hebben, in een categorie
	zitten weer producten.
	Een product heeft een aantal voedingswaarden. Een gebruiker kan producten liken en vrienden toevoegen.
	Vervolgens kan een gebruiker producten bekijken en aanbevolen producten bekijken.
	Deze producten worden aanbevolen op basis van wat zijn/haar vrienden hebben geliked.
	Ook kan een gebruiker een aantal preferences hebben. Een preference kan bijvoorbeeld "Hoog in vezels" zijn.
	Later wil ik het mogelijk maken dat de gebruiker dan ook producten aanbevolen krijgt die hoog in vezels zijn, en dat
	het vezels groen uitgelicht worden.
</p>
<div class="row">
	<div class="col-sm-12 col-md-4">
		<p>Supermarkt</p>
		<ul>
			<li>id: number</li>
			<li>naam: string</li>
			<li>foto: blob</li>
			<li>Categorieën:Category</li>
		</ul>
	</div>
	<div class="col-sm-12 col-md-4">
		<p>Categorie</p>
		<ul>
			<li>id: number</li>
			<li>naam: string</li>
			<li>foto: blob</li>
			<li>Producten:Product</li>
		</ul>
	</div>
	<div class="col-sm-12 col-md-4">
		<p>Product</p>
		<ul>
			<li>id: number</li>
			<li>naam: string</li>
			<li>foto: blob</li>
			<li>calorieën:number</li>
			<li>eiwitten:number</li>
			<li>vezels:number</li>
			<li>koolhydraten:number</li>
			<li>vetten:number</li>
		</ul>
	</div>
	<div class="col-sm-12 col-md-4">
		<p>Gebruiker</p>
		<ul>
			<li>id: number</li>
			<li>naam: string</li>
			<li>geboortedatum: Date</li>
			<li>wachtwoord:string</li>
			<li>role:number</li>
			<li>isActief: boolean</li>
			<li>email:string</li>
			<li>voorkeuren:Voorkeur</li>
		</ul>
	</div>
	<div class="col-sm-12 col-md-4">
		<p>Voorkeuren</p>
		<ul>
			<li>naam: string</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col">
		<img src="assets/images/erdfitapp.png" alt="..." />
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h3>Use Cases</h3>
		<p>De applicatie biedt de volgende functionaliteit.</p>
		<div *ngFor="let UC of useCases">
			<app-usecase [useCase]="UC"></app-usecase>
		</div>
		<p>Vul hier zelf meer functionaliteit toe.</p>
	</div>
</div>
