<h2>Maak een account aan</h2>
<form class="form" (ngSubmit)=" onSubmit()" [formGroup]="addUserForm" novalidate>
	<div class="form-group">
		<label for="name">Naam</label>
		<input type="text" id="name" class="form-control" formControlName="name" required>
		<small id="helpId" class="text-muted">Een naam moet uniek zijn</small>
		<div *ngIf="addUserForm.controls['name'].invalid && (addUserForm.controls['name'].dirty || addUserForm.controls['name'].touched)"
			class="alert alert-danger">
			<div *ngIf="addUserForm.controls['name'].errors?.required">
				Naam is verplicht!
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="Email">E-mail</label>
		<input class="form-control" formControlName="email" placeholder="Vul hier je e-mail adres in"
			aria-describedby="helpId">
		<small id="helpId" class="text-muted">Moet een geldig e-mail adres zijn</small>
		<div *ngIf="addUserForm.controls['email'].invalid && (addUserForm.controls['email'].dirty || addUserForm.controls['email'].touched)"
			class="alert alert-danger">
			<div *ngIf="addUserForm.controls['email'].errors?.required">
				Email is verplicht!
			</div>
			<div *ngIf="addUserForm.controls['email'].errors?.email">
				Het email is niet in het juiste formaat
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="DateOfBirth">Geboorte datum</label>
		<input class="form-control" formControlName="dateOfBirth" placeholder="Je geboorte datum in"
			aria-describedby="helpId" type="date">
		<small id="helpId" class="text-muted">Een gebruiker moet ouder dan 16 zijn</small>
		<div *ngIf="addUserForm.controls['dateOfBirth'].invalid && (addUserForm.controls['dateOfBirth'].dirty || addUserForm.controls['dateOfBirth'].touched)"
			class="alert alert-danger">
			<div *ngIf="addUserForm.controls['dateOfBirth'].errors?.required">
				Geboorte datum is verplicht!
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="isActive">Is deze gebruiker actief?</label>
		<input class="form-control" formControlName="isActive" type="checkbox" aria-describedby="helpId" type="checkbox"
			ng-true-value="true" ng-false-value="false" placeholder="false" value="false">
	</div>
	<div class="form-group">
		<label for="password">Wachtwoord</label>
		<input type="password" class="form-control" formControlName="password" placeholder="Vul hier je wachtwoord in"
			aria-describedby="helpId">
		<small id="helpId" class="text-muted">Moet een geldig wachtwoord zijn met minimaal 8 letters</small>

		<div *ngIf="addUserForm.controls['password'].invalid && (addUserForm.controls['password'].dirty || addUserForm.controls['password'].touched)"
			class="alert alert-danger">
			<div *ngIf="addUserForm.controls['password'].errors?.required">
				Wachtwoord is verplicht!
			</div>
			<div *ngIf="addUserForm.controls['password'].errors?.minLength">
				Het wachtwoord heeft niet meer dan 8 tekens!
			</div>
		</div>
	</div>

	<h2>Voorkeuren</h2>
	<div class="row">
		<div class="form-group col-md-2">
			<label for="isActive">Doel Calorieën</label>
			<input class="form-control" formControlName="goalCalories" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Doel Eiwitten</label>
			<input class="form-control" formControlName="goalProteins" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Doel Vezels</label>
			<input class="form-control" formControlName="goalFibers" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Doel Vetten</label>
			<input class="form-control" formControlName="goalFats" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Doel Koolhydraten</label>
			<input class="form-control" formControlName="goalCarbohydrates" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Maaltijden per dag</label>
			<input class="form-control" formControlName="mealsADay" type="number" type="number">
		</div>
	</div>


	<button type="submit" [disabled]="addUserForm.pristine || addUserForm.invalid" class="btn btn-success">
		Save
	</button>
</form>
