<form class="form" (ngSubmit)="onSubmit()" [formGroup]="editCategoryForm">
	<div class="form-group">
		<label for="Name">Naam</label>
		<input class="form-control" formControlName="name" aria-describedby="helpId">
		<small id="helpId" class="text-muted">Een naam moet uniek zijn</small>

		<div *ngIf="editCategoryForm.controls['name'].invalid && (editCategoryForm.controls['name'].dirty || editCategoryForm.controls['name'].touched)"
			class="alert alert-danger">
			<div *ngIf="editCategoryForm.controls['name'].errors?.required">
				Naam is verplicht!
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="image">Afbeelding</label>
		<input class="form-control" formControlName="image" aria-describedby="helpId">

		<small id="helpId" class="text-muted">Vul de URL van een foto in</small>

		<div *ngIf="editCategoryForm.controls['image'].invalid && (editCategoryForm.controls['image'].dirty || editCategoryForm.controls['image'].touched)"
			class="alert alert-danger">
			<div *ngIf="editCategoryForm.controls['image'].errors?.required">
				Een foto url is verplicht!
			</div>
		</div>
	</div>
	<button type="submit" [disabled]="editCategoryForm.invalid" class="btn btn-success">
		Save
	</button>
</form>
