<h2>Producten voor de week</h2>
<table class="table">
	<thead>
		<th>Naam</th>
		<th>Calorieën</th>
		<th>Eiwitten</th>
		<th>Vezels</th>
		<th>Koolhydraten</th>
		<th>Vetten</th>
		<th>Verwijder uit lijst</th>
	</thead>
	<tbody>
		<tr *ngFor="let product of currentCart; let indexOfelement=index">
			<td>{{product.name}}</td>
			<td>{{product.calories}}</td>
			<td>{{product.protein}}</td>
			<td>{{product.fibers}}</td>
			<td>{{product.carbohydrates}}</td>
			<td>{{product.fats}}</td>
			<button class="btn btn-danger" (click)="delete(indexOfelement)">Verwijder product</button>
		</tr>
	</tbody>
</table>

<table class="table">
	<thead>
		<th>totaal aantal caloriëen / doel</th>
		<th>totaal aantal eiwitten / doel</th>
		<th>totaal aantal koolhydraten / doel</th>
		<th>totaal aantal vetten / doel</th>
		<th>totaal aantal vezels / doel</th>
	</thead>
	<tbody>
		<tr>
			<td>{{totalProduct?.calories}} / {{user?.preference?.goalCalories}}</td>
			<td>{{totalProduct?.protein}} / {{user?.preference?.goalProteins}}</td>
			<td>{{totalProduct?.carbohydrates}} / {{user?.preference?.goalCarbohydrates}}</td>
			<td>{{totalProduct?.fats}} / {{user?.preference?.goalFats}}</td>
			<td>{{totalProduct?.fibers}} / {{user?.preference?.goalFibers}}</td>
		</tr>
	</tbody>
</table>

<table class="table">
	<thead>
		<th>totaal aantal caloriëen / maaltijd</th>
		<th>totaal aantal eiwitten / maaltijd</th>
		<th>totaal aantal koolhydraten / maaltijd</th>
		<th>totaal aantal vetten / maaltijd</th>
		<th>totaal aantal vezels / maaltijd</th>
	</thead>
	<tbody>
		<td>{{totalProductAMeal.calories}}</td>
		<td>{{totalProductAMeal.protein}}</td>
		<td>{{totalProductAMeal.fibers}}</td>
		<td>{{totalProductAMeal.carbohydrates}}</td>
		<td>{{totalProductAMeal.fats}}</td>
	</tbody>
</table>
