<form class="form" (ngSubmit)="onSubmit()" [formGroup]="editUserForm">
	<div class="form-group">
		<label for="Name">Name</label>
		<input class="form-control" formControlName="name"
			aria-describedby="helpId">
		<small id="helpId" class="text-muted">Een naam moet uniek zijn</small>
	</div>
	<div class="form-group">
		<label for="Email">E-mail</label>
		<input class="form-control" formControlName="email"
			aria-describedby="helpId">
		<small id="helpId" class="text-muted">Moet een geldig e-mail adres zijn</small>
	</div>
	<div class="form-group">
		<label for="DateOfBirth">Geboorte datum</label>
		<input class="form-control" formControlName="dateOfBirth" type="date" formtarget="yyyy-MM-dd"
			aria-describedby="helpId" type="date">
		<small id="helpId" class="text-muted">Een gebruiker moet ouder dan 16 zijn</small>
	</div>
	<div class="form-group">
		<label for="isActive">Is deze gebruiker actief?</label>
		<input class="form-control" formControlName="isActive" type="checkbox"
			aria-describedby="helpId" type="checkbox">
		<small id="helpId" class="text-muted">Een gebruiker moet ouder dan 16 zijn</small>
	</div>

	<h2>Voorkeuren</h2>
	<div class="row">
		<div class="form-group col-md-2">
			<label for="isActive">Doel Calorieën</label>
			<input class="form-control" formControlName="goalCalories" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Doel Eiwitten</label>
			<input class="form-control" formControlName="goalProteins" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Doel Vezels</label>
			<input class="form-control" formControlName="goalFibers" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Doel Vetten</label>
			<input class="form-control" formControlName="goalFats" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Doel Koolhydraten</label>
			<input class="form-control" formControlName="goalCarbohydrates" type="number" type="number">
		</div>
		<div class="form-group col-md-2">
			<label for="isActive">Maaltijden per dag</label>
			<input class="form-control" formControlName="mealsADay" type="number" type="number">
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
