<h2>Log in</h2>
<form class="form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
	<div class="form-group">
		<label for="Name">Email</label>
		<input class="form-control" formControlName="email" placeholder="Vul hier je email in"
			aria-describedby="helpId">
		<div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
			class="alert alert-danger">
			<div *ngIf="loginForm.controls['email'].errors?.required">
				Email is verplicht!
			</div>
			<div *ngIf="loginForm.controls['email'].errors?.email">
				Het email is niet in het juiste formaat
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="Name">Password</label>
		<input type="password" class="form-control" formControlName="password" placeholder="Vul hier een wachtwoord in"
			aria-describedby="helpId">
		<div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
			class="alert alert-danger">
			<div *ngIf="loginForm.controls['password'].errors?.required">
				Wachtwoord is verplicht!
			</div>
		</div>
	</div>
	<button type="submit" [disabled]="loginForm.pristine || loginForm.invalid" class="btn btn-success">
		Save
	</button>
</form>
