<h2>{{currentCategory?.name}}</h2>
<div class="row">
	<div class="supermarket-card card col-md-3" *ngFor="let product of currentCategory?.products">
		<img src="{{product!.image}}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">{{product!.name}}</h5>
			<a [routerLink]="[product!._id]" class="btn btn-primary col-md-12">Bekijk de details van
				{{product!.name}}</a>
			<button *ngIf="userService.currentUser?.role == 1" class="btn btn-danger col-md-12" (click)="delete(product._id)">Verwijder</button>
		</div>
	</div>
</div>
<a *ngIf="userService.currentUser?.role == 1" class="btn btn-primary" routerLink="products/create">Voeg producten toe</a>

<a *ngIf="userService.currentUser?.role == 1" class="btn btn-primary" routerLink="edit">Bewerk {{currentCategory?.name}}</a>
