/* You can add global styles to this file, and also import other style files */
label{
	color:#30DF2D;
}
h2{
	color:#F82007;
}

.form-control{
	border-color:#30DF2D;
}

.btn-primary{
	background-color:#30DF2D;
	border-color:#30DF2D;
}

.list-group-item{
	border-color: #30DF2D;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
