<div class="row">
	<h2 class="col-md-12">{{product?.name}}</h2>
	<div class="product-header col-md-5">
		<img src="{{product?.image}}" class="rounded float-left" style="width: 400px;">
	</div>
	<div class="nutrition col-md-7">
		<h2>Voedingswaarden</h2>
		<ul class="list-group">
			<li class="list-group-item list-group-item-danger">Calorieën: {{product?.calories}}</li>
			<li class="list-group-item ">Eiwitten: {{product?.protein}}</li>
			<li class="list-group-item">Vezels: {{product?.fibers}}</li>
			<li class="list-group-item">Koolhydraten: {{product?.carbohydrates}}</li>
			<li class="list-group-item">Vetten: {{product?.fats}}</li>
		</ul>
	</div>
	<a class="btn btn-primary" (click)="addToMenu()">Voeg {{product?.name}} aan je lijst</a>
	<a *ngIf="userService.currentUser?.role == 1" class="btn btn-primary" routerLink="edit">Bewerk {{product?.name}}</a>
</div>
