<h2>Supermarkten</h2>
<div class="row">
	<div class="supermarket-card card col-md-3" *ngFor="let supermarket of supermarkets">
		<img src="{{supermarket!.image}}" class="card-img-top">
		<div class="card-body">
		  <h5 class="card-title">{{supermarket.name}}</h5>
		  <div class="row">
			<a [routerLink]="[supermarket._id]" class="btn btn-primary col-md-7">Bekijk de categorieën van {{supermarket.name}}</a>
			<button *ngIf="userService.currentUser?.role" class="btn btn-danger col-md-5" (click)="delete(supermarket._id)">Verwijder</button>
		  </div>

		</div>
	</div>
</div>

<a *ngIf="userService.currentUser?.role == 1" class="btn btn-primary" routerLink="create" routerLinkActive="router-link-active">Voeg een supermarkt toe</a>
